<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Fecha</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto: ${productos}">
        <td th:text="${#strings.abbreviate(producto.id,10)}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${#numbers.formatCurrency(producto.precio)}"></td>
        <td th:text="${#calendars.format(producto.createAt,'dd/MM/yyyy')}"></td>
        <td th:text="${producto.categoria.nombre}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>